/* Bible Press - Custom Login Styles */

body.login { background-color: #e6ecf3; }
body.login div#login form#loginform { border-radius: 10px; }
body.login .custom-message { text-align: center; }
.column { float: left; width: 50%; background-color: #ffffff} 
/* Clear floats after the columns */
.row:after { content: ""; display: table; clear: both; }

.column h4 {
  padding-left: 0.5em;
}
.column ul {
  padding-bottom: 0.5em;
}
.column li {
  padding-left: 0.5em; font-size:0.9em; list-style-type: none; line-height: 1.6em;
}
.column li a {
  color: #2ea3f2;
  text-decoration: none;
}
.bp-verse-label {
  font-size: x-small;
  color:#999999;
  vertical-align: super;
}
.bp-footnote {
  font-size: 80%;
  color:#999999;
  margin-left: 10%;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

.popup .hide {
  visibility: hidden;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}